* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1265' height='151.8' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23dcded7' stroke-width='5.9' stroke-opacity='0.04'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");

}

/*________________________SHAPES-SECTION______________________________*/
.shape {
    position: absolute;
    font-size: 40em;
    color:#F7A800;
    text-shadow: -6px 2px 11px #000000;
    top: 0.65em;
    left: 1.2em;
    transform: rotate(-90deg);
    z-index: 1;

    
}

.shape2 {
    position: relative;
    font-size: 60em;
    color:#F7A800;
    text-shadow: -6px 2px 11px #000000;
    bottom: 0.2em;
    right: 0.7em;
    transform: rotate(90deg);
    z-index: -2;
    
}

/*____________________________HEADER-SECTION____________________________*/

header {
    background-image: url("img/vietnam-hero.jpeg");
    background-size: cover;
    height: 100vh;
    -webkit-clip-path: polygon(0% 68%, 20% 88%, 100% 99%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 68%, 20% 88%, 100% 99%, 100% 0%, 0% 0%);
    -webkit-box-shadow: 0px 17px 120px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 120px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 120px -16px rgba(0,0,0,0.75);
}

header .navigation {
    display: flex;
    padding-top: 1.1em;
    justify-content: space-around;
    color: white;
    font-size: 2em;
    font-family: 'Advent Pro', sans-serif;
}

header .logo {
    font-family: 'Great Vibes', cursive;
    font-size: 1.7em;
       
}

header .important {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    padding-top: 3em;
    padding-right: 11em;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2em;
    line-height: 1.8em;
    text-shadow: 4px 0px 13px #000000;
}

header .int-links {
    padding-top: 0.4em;
    display: flex;
    font-size: 1em; 
    text-decoration-line: none;
    justify-content: center;
    
}
header a {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
    text-decoration-line: none;
    color:white;
    padding-right: 0.5em;
    
}
a:hover  {
    font-size: 1.4em;
    color:white;
    
}

header .ext-links {
    padding-top: 0.35em;
    font-size: 1em;
}

.ext-links i:hover {
    color:white;
    font-size: 2em;
}

/*____________________________ABOUT-ME_________________________*/
.about-me {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.about-me .headlines {
    display: flex;
    justify-content: center;
    padding-left: 5em;
}

.about-me .headlines div {
    text-align: center;
    width: 15em;
    padding-left: 5em;

}






























.my-skills {
    font-family: 'Roboto Condensed', sans-serif;
}

.my-skills h2 {
    text-align: center;
    font-size: 6em;
}


.progress-bar {
    margin-left: 15em;
    margin-right: 15em;
    font-size: 1em;
    font-weight: bold;
}

.progress-bar > div{
    display: flex;
    height: 2.8em;
    margin-bottom: 0.6em;
}

.progress-bar .name {
   display: flex;
   background-color: #232323;
   color: white;
   padding:0.5em 3em;
   width: 30px;
   padding-top: 0.4em;
   justify-content: center;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
   font-size: 1.3em;
   
}

.progress-bar > div > div:nth-child(2) {
    display: flex;
    background-color: #EBEBEB;
    position: relative;
    flex-grow: 1;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
     
}

.progress-bar .bar {
    background-color: #56B01E;
    width: 80%;
}

.progress-bar .bar1 {
    background-color: #56B01E;
    width: 80%;
}

.progress-bar .bar2 {
    background-color: #56B01E;
    width: 70%;
}

.progress-bar .bar3 {
    background-color: #56B01E;
    width: 60%;
}

.progress-bar .bar4 {
    background-color: #56B01E;
    width: 70%;
}

.progress-bar .bar5 {
    background-color: #56B01E;
    width: 60%;
}

.progress-bar .bar6 {
    background-color: #56B01E;
    width: 60%;
}


.progress-bar .num {
    color: #7A7A7A;
    font-size: 1.3em;
    position: absolute;
    left: 35em;
    top: 0.5em;

    
}